/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

#contenedor {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #30b9c5;
}

h2 {
    color: #207a8b;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.hobby {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffddc1;
    border-radius: 8px;
}

img {
    height: 200px;
    max-width: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

footer p {
    font-size: 14px;
}
