body{
    background-color: black;
    color: white;
}

header{
    text-align: center;
}

h3{
    font-style: italic;
}

section{
    font-family: Helvetica;
    font-size: 12px;
    text-align: justify;
}

footer{
    text-align: center;
}